<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory="var/cache/phpunit">
    <testsuites>
        <testsuite name="Homeen test suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
